[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PlayOnLinux
GenericName=Game
Comment=PlayOnLinux
Type=Application
Exec=playonlinux
Icon=playonlinux
Categories=PlayOnLinux;
Name[fr_FR]=PlayOnLinux
