[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PlayOnLinux
Comment=PlayOnLinux
Type=Application %F
Exec=playonlinux
Icon=/usr/share/playonlinux/etc/playonlinux.png
Categories=Application;Game
