[Desktop Entry]
Version=1.0
Name=PlayOnLinux
Comment=Front-end application for the wine
Type=Application
Exec=playonlinux %F
Icon=playonlinux
Categories=Utility;Emulator;
